html, body {
	width: 100%;
	background-color: #F5F8FA !important;
}

a, a:hover, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#website {
	min-width: 320px !important;
	max-width: 800px !important;
	margin: 0 auto;
}

#content {
	margin: 10px;
	background-color: white;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
	#main-content {
		header {
			padding: 20px 10px;
			color: white;
			text-align: center;
			border-bottom: solid 1px white;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
			a {
				color: white !important;
			}
			.icon-img {
				width: 64px !important;
				height: 64px !important;
				border-radius: 50% !important;
			}
			.title {
				font-size: 20px;
				margin: 0;
				margin-top: 10px;
				.emoji {
					width: 20px;
					height: 20px;
					margin: -2px;
					margin-left: 4px;
					margin-right: 4px;
				}
			}
			.name {
				font-size: 16px;
				.emoji {
					width: 18px;
					height: 18px;
					margin: -3px;
					margin-left: 4px;
					margin-right: 4px;
				}
			}
			.summary {
				margin: 0;
			}
		}
		.lists {
			.title {
				margin: 0;
				margin-bottom: 5px;
			}
			li {
				margin: 5px;
			}
		}
	}
	#menu-content {
		.content {
			height: 100%;
			border-top: solid 1px white;
			@media screen and (min-width: 35.5em) {
				border-top: none;
				border-left: solid 1px white;
			}
		}
	}
}

.page-footer {
	widows: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: small;
}
.web-title {
	text-align: center;
	h3 {
		margin: 0;
		padding: 10px; 
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	}
}

.profile {
	padding-bottom: 10px;
	text-align: center;
	img {
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}
	.logout {
		font-size: small;
	}
}

.menu {
	margin: 10px 0;
}
.menu-button {
	color: white;
	margin: 2px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.padding-content {
	padding: 10px;
}

.list {
	font-size: 18px;
	list-style: none;
	li {
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 10px;
		text-align: center;
	}
	.list-item {
		.index {
			font-size: 16px;
			color: gray;
			padding-bottom: 10px;
		}
		.comment {
			font-size: 16px;
			color: gray;
		}
		.done {
		}
	}
}


.lists {
	.list-item {
		margin: 10px 0;
		margin-bottom: 20px;
		.comment {
			height: 4em;
		}
		.done {
			text-align: right;
			.done-flg, .done-date {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.edit-title {
	color: black;
}
.list-color {
	input {
		width: 6em;
		margin-top: 5px;
	}
	.color-button {
		width: 2em;
		height: 2em;
		max-height: 100% !important;
		border: solid 1px;
	}
}

/* トグルボタン */
.tgl {
	display: none;

	// add default box-sizing for this scope
	&,
	&:after,
	&:before,
	& *,
	& *:after,
	& *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 5em;
		height: 2.5em;
		position: relative;
		cursor: pointer;
		user-select: none;
		&:after,
		&:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-flip {
	+ .tgl-btn {
		padding: 2px;
		transition: all .2s ease;
		font-family: sans-serif;
		perspective: 100px;
		&:after,
    &:before {
			display: inline-block;
			transition: all .4s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2.5em;
			font-weight: bold;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			backface-visibility: hidden;
			border-radius: 4px;
		}
    
		&:after {
			content: attr(data-tg-on);
			background: #02C66F;
			transform: rotateY(-180deg);
		}
    
		&:before {
			background: #FF3A19;
			content: attr(data-tg-off);
		}

		&:active:before {
			transform: rotateY(-20deg);
		}
	}
  
	&:checked + .tgl-btn {
	    &:before {
	      transform: rotateY(180deg);
	    }
	    
	    &:after {
	      transform: rotateY(0);
	      left: 0;
	    }
	    
	    &:active:after {
	      transform: rotateY(20deg);
	    }
	}
}